@{
    Layout = null;
}
<div class="dem-reference-action">
    <button type="button" class="btn btn-glow btn-bg-gradient-x-purple-red"
            onclick="demIndex.clickEvent(this, demIndex.actionType.AddExpense)">
        Tạo giao dịch
    </button>
    <button type="button" class="btn btn-glow btn-bg-gradient-x-blue-cyan" style="float: right;"
            onclick="demIndex.clickEvent(this, demIndex.actionType.BuildIntended)">
        Dự trù
    </button>
    <div class="clear-fix"></div>
    <button type="button" class="btn btn-glow btn-bg-gradient-x-orange-yellow"
            onclick="demIndex.clickEvent(this, demIndex.actionType.ToCategoryPage)">
        Danh sách khoản mục
    </button>
    <div class="clear-fix"></div>
    <button type="button" class="btn btn-glow btn-bg-gradient-x-red-pink"
            onclick="demIndex.clickEvent(this, demIndex.actionType.ToExpensePage)">
        Danh sách giao dịch
    </button>
</div>