@{
    Layout = null;
}

<section id="dem-category-add">
    <div class="card-content collpase show">
        <div class="card-body">            
            <div class="card-text">
                <p>
                    Just add
                    <code>.sr-only</code> class to a label to hide. This form shows the use of icons with form controls. Define the position of the icon using
                    <code>has-icon-left</code> or
                    <code>has-icon-right</code> class. Use
                    <code>icon-*</code> class to define the icon for the form control. See Icons sections for the list of icons you can use.
                </p>
            </div>

            <div class="card-data">
                <div class="form-group">
                    <input type="text" placeholder="Nhập tên" class="form-control" name="Name">
                </div>
                <div class="form-group">
                    <textarea aria-label="Type your message here" class="form-control" placeholder="Nhập mô tả" rows="5" onchange="demIndex.changeEvent(this,demIndex.actionType.GetDescription)"></textarea>
                    <input type="text" hidden="" name="Description">
                </div>
            </div>

        </div>
    </div>
</section>
