@model string;
@{
    Layout = null;
}

<section id="dem-category-add" class="dem-app-materialize">
    <div class="card-content collpase show">
        <div class="card-body">
            <input name="Type" value="@Model" hidden/>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Nhập tên" class="form-control" name="Name" required validate-message-required="Thông tin bắt buộc nhập!">
                    <label for="Name" class="active">Tên loại</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" placeholder="Thông tin chi tiết" onchange="categoryAddIndex.changeEvent(this,categoryAddIndex.actionType.MapDescription)"></textarea>
                    <input type="text" hidden="" name="Description">
                    <label for="Description" class="active">Mô tả</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light dem-action-submit" name="action" onclick="categoryAddIndex.clickEvent(this, categoryAddIndex.actionType.Save)">
                    Thêm
                </button>
            </div>
        </div>
    </div>
</section>