@using DEM.App;
@model Tuple<List<CategoryDto>, string>;



<div class="content-wrapper" id="dem-category">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body" style="padding-top:10px">
        <!-- Chart -->
        <div class="row match-height" hidden>
            <div class="col-12">
                <div class="">
                    <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <!-- eCommerce statistic -->
        <div class="row">
            <div class="col-md-4">
                <div class="card pull-up ecom-card-1 bg-white dem-category">
                    <div class="card-content ecom-card2 height-180">
                        <h5 class="text-muted danger position-absolute p-1">Caption</h5>
                        <div>
                            <i class="ft-pie-chart danger font-large-1 float-right p-1"></i>
                        </div>
                        <div class="progress-stats-container ct-golden-section height-75 position-relative pt-3  ">
                            <div id="progress-stats-bar-chart"></div>
                            <div id="progress-stats-line-chart" class="progress-stats-shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ eCommerce statistic -->
        <!-- Product Summary and Chat -->
        <div class="row dem-category">
            <input name="RootCategoryType" value="@Model.Item2" hidden />
            <div class="dem-action btn-action-add" onclick="categoryIndex.clickEvent(this, categoryIndex.actionType.Add)">
                <button type="button" class="btn btn-primary round btn-min-width mr-1 mb-1">Thêm</button>
            </div>
            <div class="dem-data dem-data-list">
                <div class="grid"></div>
            </div>
        </div>
    </div>
</div>