<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>Happy Family - @ViewData["Title"]</title>
    <link rel="apple-touch-icon" href="~/lib/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/forms/icheck/custom.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/vendors/css/timeline/vertical-timeline.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/components.css">

    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/lib/app-assets/css/pages/dashboard-ecommerce.css">
    <!-- BEGIN: Custom CSS-->
    <link href="~/lib/materialize/css/app-materialize.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/assets/css/style.css">
    <style type="text/css">
        .swal2-container {
            z-index: 20000 !important;
        }

        ul.dropdown-content.select-dropdown {
            display: none;
        }
    </style>
    <!-- END: Custom CSS-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/lib/app-assets/js/core/libraries/jquery.min.js"></script>

    <script src="~/lib/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>

    <!-- BEGIN Vendor JS-->
    <!-- END: Page CSS-->
    <!--BEGIN: Kendo CSS-->
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.default.mobile.min.css" />

    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/kendo.aspnetmvc.min.js"></script>
    <!-- END: Kendo CSS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/lib/app-assets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/extensions/dropzone.min.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/extensions/sweetalert2.all.js"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/lib/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>

    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Project JS-->
    <link href="~/lib/app-assets/css/plugins/forms/flipswitch.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-share.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-home.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-category.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-category-add.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-expense.css" rel="stylesheet" />
    <link href="~/lib/app-assets/css/pages/dem-expense-add.css" rel="stylesheet" />
    <!-- END: Project JS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-color="bg-chartbg" data-col="2-columns">
    <partial name="_header.cshtml">
        
        <div class="app-content content">
            @RenderBody()
        </div>

        <!-- BEGIN: Theme JS-->

        <script src="~/lib/app-assets/js/core/app-menu.js" type="text/javascript"></script>
        <script src="~/lib/app-assets/js/core/app.js" type="text/javascript"></script>
        <!-- END: Theme JS-->
        <!-- END: Page JS-->
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/lib/app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js"></script>
        <script src="~/lib/app-assets/js/scripts/forms/extended/form-inputmask.js"></script>
        <script src="~/lib/app-assets/js/base/app-helper.js"></script>
        <!-- BEGIN: Project JS-->
        <script src="~/lib/app-assets/js/page/dem-home.js"></script>
        <script src="~/lib/app-assets/js/page/dem-category.js"></script>
        <script src="~/lib/app-assets/js/page/dem-category-add.js"></script>
        <script src="~/lib/app-assets/js/page/dem-category-edit.js"></script>
        <script src="~/lib/app-assets/js/page/dem-expense.js"></script>
        <script src="~/lib/app-assets/js/page/dem-expense-add.js"></script>
        <script src="~/lib/app-assets/js/page/dem-expense-edit.js"></script>
        <!-- END: Project JS-->
</body>
<!-- END: Body-->

</html>